<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180407462037-cseqrlbkp2rpftkth6tqohods3vr33ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180407462037-cseqrlbkp2rpftkth6tqohods3vr33ur</string>
	<key>API_KEY</key>
	<string>AIzaSyBfhqMVCyq_OsMv07_G9zwT23RY3iSxXek</string>
	<key>GCM_SENDER_ID</key>
	<string>180407462037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.diagon.casual</string>
	<key>PROJECT_ID</key>
	<string>casual-by-diagon</string>
	<key>STORAGE_BUCKET</key>
	<string>casual-by-diagon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180407462037:ios:236e38c73f29d5c0b8939c</string>
</dict>
</plist>